@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
  font-family: FFCandara, Calibri, Arial, sans-serif;
}
.villaContainer {
  background-color: #444839;
  width: 41vw;
  height: 100vh;
  position: relative;
}
.logo-animate {
  animation: fadeInDown 0.9s ease-out forwards;
  opacity: 0;
  margin-top: 8px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width:768px) {
  .villaContainer {
    width: 48vw;
  }
}

